@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(5px, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
}

@layer base {
  :root {
    --background: 17 5% 95%;
    --foreground: 17 5% 0%;
    --card: 17 5% 90%;
    --card-foreground: 17 5% 10%;
    --popover: 17 5% 95%;
    --popover-foreground: 17 95% 0%;
    --primary: 17 59% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 17 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -21 10% 85%;
    --muted-foreground: 17 5% 35%;
    --accent: -21 10% 80%;
    --accent-foreground: 17 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 17 5% 90%;
    --border: 17 20% 50%;
    --input: 17 20% 18%;
    --ring: 17 59% 51%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 17 10% 5%;
    --foreground: 17 5% 90%;
    --card: 17 5% 0%;
    --card-foreground: 17 5% 90%;
    --popover: 17 10% 5%;
    --popover-foreground: 17 5% 90%;
    --primary: 17 59% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 17 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -21 10% 15%;
    --muted-foreground: 17 5% 60%;
    --accent: -21 10% 15%;
    --accent-foreground: 17 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 17 5% 90%;
    --border: 17 20% 18%;
    --input: 17 20% 18%;
    --ring: 17 59% 51%;
    --radius: 0.5rem;
  }
}

body {
  color: var(hsl(--foreground));
  background: var(hsl(--background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
